[data-theme="dark"] {
	--color-success: var(--green-4);
	--color-warn: var(--yellow-3);
	--color-danger: var(--red-4);

	--color-fg-default: var(--gray-2);
	--color-fg-primary: var(--red-3);
	--color-fg-primary-light: var(--red-3);
	--color-fg-muted: var(--gray-5);
	--color-fg-disabled: var(--gray-7);
	--color-fg-success: var(--green-3);
	--color-fg-on-bg-success-emphasis: white;
	--color-fg-danger: var(--red-2);
	--color-fg-on-bg-danger-emphasis: white;
	--color-fg-warn: var(--yellow-2);
	--color-fg-on-bg-warn-emphasis: black;
	--color-fg-info: var(--blue-3);
	--color-fg-on-bg-primary: white;
	--color-fg-on-bg-emphasis: var(--gray-0-5);
	--color-fg-on-bg-danger: var(--red-1);
	--color-fg-on-bg-info: var(--blue-2);

	--color-bg-default: var(--gray-10);
	--color-bg-muted: var(--gray-9-5);
	--color-bg-emphasis: var(--gray-8);
	--color-bg-success: var(--green-9);
	--color-bg-success-emphasis: var(--green-5);
	--color-bg-danger: var(--red-8);
	--color-bg-danger-emphasis: var(--red-5);
	--color-bg-warn: var(--yellow-9);
	--color-bg-warn-emphasis: var(--yellow-3);
	--color-bg-info: var(--blue-9);
	--color-bg-text-highlight: var(--yellow-8);
	--color-bg-hover-primary: var(--red-9);
	--color-bg-overlay: var(--gray-9);
	--color-bg-neutral: var(--gray-9-7);
	--color-bg-fill-transparent: rgba(255, 255, 255, 0.2);
	--color-bg-backdrop: rgba(0, 0, 0, 0.7);
	--color-bg-fade: rgba(var(--gray-10-rgb), var(--o-50));

	--color-status-active: var(--blue-6);

	--color-border-default: var(--gray-8);
	--color-border-muted: var(--gray-9);
	--color-border-emphasis: var(--gray-5);
	--color-border-info: var(--blue-7);
	--color-border-warn: var(--yellow-6);
	--color-border-warn-emphasis: var(--yellow-4);
	--color-border-danger: var(--color-danger);
	--color-border-danger-emphasis: var(--red-3);
	--color-border-success: var(--green-6);
	--color-border-success-emphasis: var(--green-3);
	--color-border-neutral: var(--color-border-default);
	--color-border-transparent: rgba(255, 255, 255, 0.25);
	--color-border-transparent-muted: rgba(255, 255, 255, 0.1);

	--control-color-bg-disabled: var(--gray-9-5);
	--control-transparent-color-bg-hover: rgba(255, 255, 255, 0.1);
	--control-transparent-color-bg-selected: rgba(255, 255, 255, 0.1);
	--control-color-bg-inset: rgba(255, 255, 255, 0.25);

	--btn-tertiary-color-bg-hover: var(--gray-9);

	--link-color-fg: var(--color-fg-primary-light);

	--table-header-color-bg: var(--gray-9-5);
	--table-footer-color-bg: var(--gray-9-5);
	--table-row-simple-color-border: var(--gray-8);
	--table-row-l1-color-bg: var(--gray-5);
	--table-row-l2-color-bg: var(--gray-6);
	--table-row-l3-color-bg: var(--gray-7);
	--table-sticky-cell-color-shadow: rgba(255, 255, 255, 0.5);

	--tooltip-color-bg: var(--gray-9);

	--modal-border: 1px solid var(--color-border-muted);

	--shadow-sm: 0 1px 2px rgba(0 0 0 / 0.125);
	--shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.45), 0 2px 4px -2px rgb(0 0 0 / 0.3);

	--display-light: none;
	--display-dark: initial;
}

[data-theme="dark"] {
	/** Handle default browser UI elements **/
	color-scheme: dark;
}

[data-theme="dark"] .select:not([multiple]) {
	background-image: url("data:image/svg+xml,%3Csvg id='down' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='square' stroke-linejoin='bevel' style='display: block%3B'%3E%3Cpath d='M6 9l6 6 6-6'%3E%3C/path%3E%3C/svg%3E");
}

[data-theme="dark"] .flatpickr-calendar {
	background: var(--color-bg-overlay);
	box-shadow: none;
	border: 1px solid var(--color-border-default);
}
[data-theme="dark"] .flatpickr-day {
	color: var(--color-fg-default);
}
[data-theme="dark"] .flatpickr-next-month, [data-theme="dark"] .flatpickr-prev-month {
	stroke: var(--color-fg-default);
}